{% extends "nav.html" %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events and Schedule</title>
    <style>
        .square{
            box-shadow: 0px -10px 8px white;
            width: 40px;
            height: 80px;
            position: absolute;
            top: 50%;
            size: 20px;
            border-radius: 10px;
            opacity: 50%;
            transform-origin: 50% 110%;
            font-size: 5px;
            color: white;
            text-align: center;
            text-orientation: mixed;  
        
        }
        
        .square-face{
            width: 40px;
            height: 80px;
            top: 50%;
            size: 20px;
            border-radius: 10px;
            transform-origin: 50% 110%;
            font-size: 6px;
            color: white;
            text-align: center;
            text-orientation: mixed;  
        
        }
        .square-face-open{
            width: 60px;
            height: 80px;
            top: 50%;
            size: 20px;
            border-radius: 10px;
            transform-origin: 50% 110%;
            font-size: 6px;
            color: white;
            text-align: center;
            text-orientation: mixed;  
        
        }
        

        .demo-wrapper{
            position: absolute;
            top: 40%;
            left: 48.5%;
        }
        .buttom{
            transform-origin: 50% 110%;
            font-size:15px;
            margin: 10px;
            color: white;
            font-weight: bold;
            text-decoration: none;
            padding: 20px;
            position:absolute;
            top:52%;
            background-color: blue;
            border-top-right-radius: 70px;
            border-top-left-radius: 70px;
            opacity: 50%;
            z-index: 0;

        }

        .opener{
            font-size:30px;
            color: white;
            font-weight: bold;
            text-decoration: none;
            padding: 20px;
            position:absolute;
            top:52%;
            background-color: blue;
            border-radius: 200%;
            opacity: 50%;
            z-index: 0;
        }

        .opener-next{
            font-size:20px;
            color: white;
            font-weight: bold;
            text-decoration: none;
            padding: 20px;
            position:absolute;
            top:52%;
            background-color: blue;
            border-radius: 200%;
            opacity: 50%;
            z-index: 0;
        }
        
        .power,.power1,.power2,.power0{
            display: none;
        }


        .bg1{
            width: 40px;
            height: 80px;
            position: absolute;
            top: 50%;
            size: 20px;
            border-radius: 10px;
            opacity: 50%;
            transform-origin: 50% 110%;
            font-size: 6px;
            color: white;
            /* background-color: aqua !important; */
            text-align: center;
            text-orientation: mixed;
            filter: blur(0.5px) !important; 
        }

        .bg2{
            width: 60px;
            height: 80px;
            position: absolute;
            top: 50%;
            size: 20px;
            opacity: 50%;
            border-radius: 10px;
            font-size: 6px;
            color: white;
            text-align: center;
            text-orientation: mixed;
            z-index: 2;
        }

        .text1{
         -ms-transform: rotate(90deg); /* IE 9 */
         transform: rotate(90deg);
         padding-top: 25%;
         padding-bottom: 25%;
         padding-right: 25%;
         padding-left: 25%;
        }

        .text6{
         -ms-transform: rotate(-90deg); /* IE 9 */
         transform: rotate(-90deg);
         padding-top: 25%;
         padding-bottom: 25%;
         padding-right: 25%;
         padding-left: 25%;
        }

        .flip-card {
        
            perspective: 1000px;
        }
        
        .flip-card-inner1 {
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
        }
        
        .centered {
            position: absolute;
            top: 4px;
            
        }

        .top-left {
            position: absolute;
            top: 4px;
        }

        .flip-card-inner {
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            border-radius: 10px;
        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .flip-card-back {
            color: white;
            transform: rotateY(180deg);
            border-radius: 10px;
            background-color: black;
            font-size: 4px !important;
        }
        main{
            height: 100%;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static 'css/schedule.css' %}">
{% endblock head %}
    
    
  
{% block main %}
    <div class="demo-wrapper">
        <div class="square a type1 square1 a2 power2" rel="type1" id="type1">
            <div class="flip-card-inner1">
                <div class="flip-card-front">
                    <img src="{% static 'Cards/Back.png' %}" class="square-face" alt="">
                    <div class="centered">BEYOND THE HORIZON</div>
                </div>
                <div class="flip-card-back">
                    <div class="top-left"></div>
                </div>
            </div>
        </div>

        <div class="square a a2 square2 type2 power2" rel="type2" id="type2">
            <div class="flip-card-inner1">
                <div class="flip-card-front">
                    <img src="{% static 'Cards/Back.png' %}" class="square-face" alt="">
                    <div class="centered">COMING FULL CIRCLE</div>
                </div>
                <div class="flip-card-back">
                     
                   <div class="top-left"><p>Coming Full Circle(CFC) witnesses an extraordinary alumnus coming back to the institute and giving insights to the audience, thus enlightening them with his knowledge. <br>

						SARC proudly announces the CFC guest for this year- Mr. Rizwan Koita, Co-founder and CEO of CitiusTech. He also co-founded TransWorks Information Services (now Minacs), one of India’s first 3rd party BPO organizations. Recipient of the prestigious 2013 Ernst & Young Entrepreneur Award and the ‘Young Achievers Award in Business’ in 2002, he holds an MSc degree in Electrical Engineering & Computer Science from MIT, Cambridge and Bachelors in Electrical Engineering from IIT Bombay.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="square a a2 square3 type3 power2" rel="type3" id="type3">
            <div class="flip-card-inner1">
                <div class="flip-card-front">
                    <img src="{% static 'Cards/Back.png' %}" class="square-face" alt="">
                    <div class="centered">ANALYTICS WORKSHOP</div>
                </div>
                <div class="flip-card-back">
                     
                  <div class="top-left"><p>SARC presents to IITB students, a series of conducive, certified workshops on a panorama of coveted 
						topics like consult, finance, analytics, and entrepreneurship. These lucrative workshops will 
						comprehensively infuse to the core, all foundational and critical concepts, helping you to meliorate your 
						skills and refine your competitive edge to prepare you for the forthcoming battles. Register at the <a href="{% url 'register' %}" target="_blank">link</a>.
						</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="square a a2 square4 type4 power2" rel="type4" id="type4">
            <div class="flip-card-inner1">
                <div class="flip-card-front">
                    <div class="centered">GROUP MENTORING</div>
                </div>
                <div class="flip-card-back">  
                    <div class="top-left"><p>
								“All it takes is a spark, and then shall spread the inferno.”
								Alumination brings you ‘Group Mentoring’ —  a session to absorb and assimilate the key aspects of your field of interest with other equally driven and curious minds by your side. Having gathered along with your mentor, the discussion thereon aims to assist you in your decision-making process in the fields of analytics, consulting and finance. While the mentor, an expert in his respective domain, shares his insights on the sector in concern, the mentees can also discuss their simpler, more relatable viewpoints. Additionally, the unrestrained platform of the mentoring session allows for a healthy exchange of opinions and clarifications of mutual doubts. Register at the <a href="{% url 'register' %}" target="_blank">link</a></p>
					</div>
                </div>
            </div>
        </div>

        <div class="square a a2 square5 type5 power2" rel="type5" id="type5">
            <div class="flip-card-inner1">
                <div class="flip-card-front">
                    <img src="{% static 'Cards/Back.png' %}" class="square-face" alt="">
                    <div class="centered">SPEED MENTORING</div>
                </div>
                <div class="flip-card-back">
                    <div class="top-left"><p>Speed Mentoring
							“A mentor is someone who sees more talent and ability within you, and helps bring it out of you.” 
							Speed mentoring provides you the opportunity of a lifetime to get mentored by professional life coaches.
							This one to one session will accentuate a deeper self-understanding and will prove pivotal in unlocking 
							your dormant potential. Register at the <a href="{% url 'register' %}" target="_blank">link</a> .</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="square a type6 a1 square6 power1" rel="type6" id="type6">
            <div class="flip-card-inner1">
                <div class="flip-card-front">
                    <img src="{% static 'Cards/Back.png' %}" class="square-face" alt="">
                    <div class="centered">PRODUCT MANAGEMENT WORKSHOP</div>
                </div>
                <div class="flip-card-back">
                     
                    <div class="top-left"><p>SARC presents to IITB students, a series of conducive, certified workshops on a panorama of coveted 
						topics like consult, finance, analytics, and entrepreneurship. These lucrative workshops will 
						comprehensively infuse to the core, all foundational and critical concepts, helping you to meliorate your 
						skills and refine your competitive edge to prepare you for the forthcoming battles. Register at the <a href="{% url 'register' %}" target="_blank">link</a>.
						</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="square a type7 square7 a1 power1" rel="type7" id="type7">
            <div class="flip-card-inner1">
                <div class="flip-card-front">
                    <img src="{% static 'Cards/Back.png' %}" class="square-face" alt="">
                    <div class="centered">SPEED MENTORING</div>
                </div>
                <div class="flip-card-back">       
                    <div class="top-left"><p>Speed Mentoring
							“A mentor is someone who sees more talent and ability within you, and helps bring it out of you.” 
							Speed mentoring provides you the opportunity of a lifetime to get mentored by professional life coaches.
							This one to one session will accentuate a deeper self-understanding and will prove pivotal in unlocking 
							your dormant potential. Register at the <a href="{% url 'register' %}" target="_blank">link</a> .</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="square a a1 square8 type8 power1" rel="type8" id="type8">
            <div class="flip-card-inner1">
                <div class="flip-card-front">
                    <img src="{% static 'Cards/Back.png' %}" class="square-face" alt="">
                    <div class="centered">SPEED MENTORING</div>
                </div>
                <div class="flip-card-back">
                    <div class="top-left"><p>Speed Mentoring
							“A mentor is someone who sees more talent and ability within you, and helps bring it out of you.” 
							Speed mentoring provides you the opportunity of a lifetime to get mentored by professional life coaches.
							This one to one session will accentuate a deeper self-understanding and will prove pivotal in unlocking 
							your dormant potential. Register at the <a href="{% url 'register' %}" target="_blank">link</a> .</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="square a a1 square9 type9 power1" rel="type9" id="type9">
            <div class="flip-card-inner1">
                <div class="flip-card-front">
                    <img src="{% static 'Cards/Back.png' %}" class="square-face" alt="">
                    <div class="centered">WORKSHOP AAAAAAAA</div>
                </div>
                <div class="flip-card-back">         
                    <div class="top-left"><p>SARC presents to IITB students, a series of conducive, certified workshops on a panorama of coveted 
						topics like consult, finance, analytics, and entrepreneurship. These lucrative workshops will 
						comprehensively infuse to the core, all foundational and critical concepts, helping you to meliorate your 
						skills and refine your competitive edge to prepare you for the forthcoming battles. Register at the <a href="{% url 'register' %}" target="_blank">link</a>.
						</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="square a a1 square10 type10 power1" rel="type10" id="type10">
            <div class="flip-card-inner1">
                <div class="flip-card-front">
                    <img src="{% static 'Cards/Back.png' %}" class="square-face" alt="">
                    <div class="centered">WORKSHOP BBBBBBBB</div>
                </div>
                <div class="flip-card-back">         
                    <div class="top-left"><p>SARC presents to IITB students, a series of conducive, certified workshops on a panorama of coveted 
						topics like consult, finance, analytics, and entrepreneurship. These lucrative workshops will 
						comprehensively infuse to the core, all foundational and critical concepts, helping you to meliorate your 
						skills and refine your competitive edge to prepare you for the forthcoming battles. Register at the <a href="{% url 'register' %}" target="_blank">link</a>.
						</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="square a a1 square11 type11 power1" rel="type11" id="type11">
            <div class="flip-card-inner1">
                <div class="flip-card-front">
                    <img src="{% static 'Cards/Back.png' %}" class="square-face" alt="">
                    <div class="centered">MENTALIST SESSION</div>
                </div>
                <div class="flip-card-back">   
                    <div class="top-left"><p>{% lorem 1 %}</p></div>
                </div>
            </div>
        </div>

        <div class="square a type12 square12 a0 power0" rel="type12" id="type12">
            <div class="flip-card-inner1">
                <div class="flip-card-front">
                    <img src="{% static 'Cards/Back.png' %}" class="square-face" alt="">
                    <div class="centered">PANNEL DISCUSSION</div>
                </div>
                <div class="flip-card-back">
                    <div class="top-left"><p>The recipe to perfect decision making involves thorough scrutiny of contrasting perspectives and diverging viewpoints. Engage in a free platform for opinion exchange showcasing the trichotomy between careers in the public sector, private sector, and entrepreneurship. Pick up on valuable tips and crucial insights, akin a ninja on espionage, and forge a concrete viewpoint that will enable you to make well-informed decisions in the future. With eminent alumni discussing the all-too-common dilemma of students and detailing their rich and diverse professional experiences, the session is invaluable for those seeking clarity in perspective and decision making.
						</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a class="buttom buttom2 power" data-micron="pop" > DAY 2 </a>
        <a class="buttom buttom0 power" data-micron="pop"> DAY 0</a>
        <a class="buttom buttom1 power" data-micron="pop" > DAY 1 </a>
        <a class="opener main" data-micron="pop"> SCHEDULE </a>
    </div>
{% endblock main %}
 

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
<script>
    $(document).ready(function(){ 
        $('.main').click(function(){
            $(".buttom").removeClass('power');
            $(".main").removeClass('opener');
            $(".main").addClass('opener-next');
            $(".a2").addClass('power2');
            $(".a1").addClass('power1');
            $(".a0").addClass('power0');
            });

        $('.buttom2').click(function(){
            $(".a2").removeClass('power2');
            });

        $('.buttom1').click(function(){
            $(".a1").removeClass('power1');
            });

        $('.buttom0').click(function(){
            $(".a0").removeClass('power0');
            });
    });
    var cardopener = anime({
            targets: '.buttom',
            translateX: anime.stagger([-120, 120]),
            //translateY: anime.stagger([-100,50]),
            rotate: {
                value: anime.stagger([-420,60])
            },
            
            duration: 2000,
            // loop: true,
            autoplay: false,
            delay: anime.stagger(50)
    });
    var allSquares22 = document.querySelector(".main");
    //allSquares[allSquares.length - 1].onclick = cardstagger.play;
    allSquares22.onclick=cardopener.play;
    var cardstagger2 = anime({
        targets: '.a2',
        translateX: -250,
        // translateY: anime.stagger([50, 100 ,50]),
        rotate: {
            value: anime.stagger([-150, 30])
        },
        scale: 3,
        duration: 2000,
        // loop: true,
        autoplay: false,
        delay: anime.stagger(50)
    });
    var allSquares2 = document.querySelector(".buttom2");
    //allSquares[allSquares.length - 1].onclick = cardstagger.play;
    allSquares2.onclick=cardstagger2.play;

    var cardstagger1 = anime({
        targets: '.a1',
        translateX: 250,
        // translateY: anime.stagger([50, 100 ,50]),
        rotate: {
            value: anime.stagger([-30, 150])
        },
        scale: 3,
        duration: 2000,
        // loop: true,
        autoplay: false,
        delay: anime.stagger(50)
    });
    var allSquares1 = document.querySelector(".buttom1");
    //allSquares[allSquares.length - 1].onclick = cardstagger.play;
    allSquares1.onclick=cardstagger1.play;

    var cardstagger0 = anime({
        targets: '.a0',
        translateY: 400,
        
        // translateY: anime.stagger([50, 100 ,50]),
        rotate: 0,
        scale: 3,
        duration: 2000,
        // loop: true,
        autoplay: false,
        delay: anime.stagger(50)
    });
    var allSquares0 = document.querySelector(".buttom0");
    //allSquares[allSquares.length - 1].onclick = cardstagger.play;
    allSquares0.onclick=cardstagger0.play;

    $(document).ready(function(){ 
        $('.a').click(function(){
            var id;
            id = $(this).attr('rel');
            if($('#'+id).hasClass('bg1')||$('#'+id).hasClass('bg2')){
                $('#'+id).siblings().removeClass('bg1');
                $('#'+id).siblings().removeClass('bg2');
                $('#'+id).removeClass('bg1');
                $('#'+id).removeClass('bg2');
                $('#'+id).removeClass('flip-card');
                $('#'+id).addClass('square');
                $('#'+id).siblings().addClass('square');
                $('#'+id).siblings().children().removeClass('flip-card-inner');
                $('#'+id).siblings().children().addClass('flip-card-inner1');
                $('#'+id).children().removeClass('flip-card-inner'); 
                $('#'+id).children().addClass('flip-card-inner1'); 
                $('#'+id).siblings().removeClass('flip-card');
                var id1;
                id1 = $(".face");
                id1.removeClass('square-face-open');
                id1.addClass('square-face');
                id1.removeClass('face');
                
                    //if(!($(".type1").children().children().children().hasClass('text1'))){
                        //$(".type1").children().children().children().addClass('text1');
                    //}
                    //if(!($(".type6").children().children().children().hasClass('text6'))){
                    // $(".type6").children().children().children().addClass('text6');
                //}
                let cardstagger5 = anime({
                    targets: '.a2',
                    translateX: -250,
                    // translateY: anime.stagger([50, 100 ,50]),
                    rotate: {
                        value: anime.stagger([-150, 30])
                    },
                    scale: 3,
                    duration: 2000,
                    // loop: true,
                    autoplay: true,
                    delay: anime.stagger(50)
                });

                let cardstagger4 = anime({
                    targets: '.a1',
                    translateX: 250,
                    // translateY: anime.stagger([50, 100 ,50]),
                    rotate: {
                        value: anime.stagger([-30, 150])
                    },
                    scale: 3,
                    duration: 2000,
                    // loop: true,
                    autoplay: true,
                    delay: anime.stagger(50)
                });
                //allSquares[allSquares.length - 1].onclick = cardstagger.play

                let cardstagger3 = anime({
                    targets: '.a0',
                    translateY: 400,
                
                    // translateY: anime.stagger([50, 100 ,50]),
                    rotate: 0,
                    scale: 3,
                    duration: 2000,
                    // loop: true,
                    autoplay: true,
                    delay: anime.stagger(50)
                });
                cardopener.play();
                
            }
            else {
                $('#'+id).removeClass('square');
                $('#'+id).addClass('bg2');
                $('#'+id).addClass('flip-card');
                $('#'+id).removeClass('bg1');
                //if($('#'+id).children().children().children().hasClass('text1')){
                    //$('#'+id).children().children().children().removeClass('text1');
                //}
                //if($('#'+id).children().children().children().hasClass('text6')){
                    //$('#'+id).children().children().children().removeClass('text6');
                //}

                $('#'+id).siblings().removeClass('square');
                $('#'+id).siblings().addClass('bg1');
                $('#'+id).siblings().removeClass('flip-card');
                $('#'+id).siblings().children().removeClass('flip-card-inner');
                $('#'+id).siblings().children().addClass('flip-card-inner1');
                $('#'+id).siblings().removeClass('bg2');
                $('#'+id).children().removeClass('flip-card-inner1'); 
                $('#'+id).children().addClass('flip-card-inner');
                $('#'+id).children().children().find("img").removeClass('square-face');
                $('#'+id).children().children().find("img").addClass('square-face-open'); 
                $('#'+id).children().children().find("img").addClass('face');     

                let animateAll1 = anime({
                    targets: "."+id,
                    rotate: {
                        value: 360,
                        duration: 1800,                                                                                             
                        easing: 'easeInOutSine'
                    },
                    scale: {
                        value: 7,
                        duration: 1600,
                        delay: 800,
                        easing: 'easeInOutQuart'
                    },
                    autoplay: true,
                    translateX: 0,
                    translateY:0
                });
            }
        });      
    });
</script>
{% endblock scripts %}
    
  