body{
	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-size: 100%;
}

@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(720deg);
  }
}
a {
	outline: none;
}
.navbar-container {
	text-align: center;
	padding: 10px;
	font-size: 0;
	color: #335867;
padding-right: 0px!important;
    padding-left: 0px!important;
    margin-right:auto!important;
    margin-left: auto!important;
}

.navbar-container ul {
	margin: auto;
	padding: 0;
	/* text-align: right; */
	display: inline-block;
	vertical-align: middle;
}

.navbar-container ul li {
	display: inline-block;
	font-size: 1.3rem;
	margin-left: 35px;
}

.navbar-container ul li a {
	color: #315969;
	text-decoration: none;
	display: inline-block;	
	padding: 11px 23px;
	transition: color 0.5s;
	font-family: 'Manjari';  

}

.navbar-container ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
	width: 100%;
	background-color: #487F8C;
}

.navbar-container ul li:hover .underline {
	background-color: #376475;
	width: 100%;
}

.navbar-container ul li:hover a {
}

.navbar-container ul li:active a {
	transition: none;
	color: rgba(255,255,255,0.76);
}

.navbar-container ul li:active .underline {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}

.hamburger {
	display: none !important;
	z-index: 500;
}

#aluminationLogo {
	position: relative;
	display: block;
	width: 40%;
	top: 25%;
	margin-left: auto;
	margin-right: auto;
}
#aluminationLogo-overlay {
	position: relative;
	display: block;
	width: 40%;
	top: 0%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

#mark {
-webkit-animation: spinner 5s ease-in-out infinite; /* Safari 4.0 - 8.0 */
  animation: spinner 5s ease-in-out infinite;
	position: relative;
	top: 30%;
	width: 100%;
}
#mark:hover{
transform:scale(1.2);
}

#overlayImage {
	/*display: none;*/
	z-index: 401;
	transform: translateX(-200%);
	transition: transform 1s ease-in-out;
}

#listVSV {
	/*display: none;*/
	z-index: 400;
	transform: translateY(-125%);
	transition: transform 1s ease-in-out;
	background-color: #A5D5D9;
	margin-top: 0px;
}

/*------------- Media Rule for ipad-------------------*/
@media only screen and (min-width: 1200px) {
	#listVSV{
		display: none !important;
	}
	
	#aluminationLogo {
		display: none !important;
	}

	#overlayImage {
		display: none !important;
	}

}
@media only screen and (max-width: 1200px) {
  #navbarVSV { 
  	display: none; 
  }
  
  body {
  	background-color: #C7E1E2;
  	background-image: none;
  }


  /*#aluminationLogo {
	position: absolute;
	display: inline-block;
	width: 65%;
	top: 2% !important;
	left: 5%;

  }*/

  #aluminationLogo {
	  /* z-index: 2; */
	/* position: absolute; */
	display: block;
	width: 33%;
	top: 2% !important;
	left: 32vw;
	margin-right: auto;
	}

  .hamburger {
	display: inline-block !important;
	position: fixed;
	right: 4%;
	top: 20px;
	width: 50px;
	height: 50px;
	}

	.overlay {
		margin-top: 0px;
	}

	#overlayImage {
	width: 75%;
	position: fixed;
	left: -38%;
	top: 20%;
	height: 70%;
	}

	.navbar-container ul li {
		display: block;
	}

	.navbar-container ul li.active-link .underline {
		width: 20%;
	}

	.navbar-container ul li:hover .underline {
		width: 20%;
	}

	.navbar-container ul {
		text-align: center;
		display: block;
		width: 100%;
		height: 200%;
		position: fixed;
		top: 0%;
		left: 0%;
	}

	.nav-link {
		position: relative;
		left: 5%;
	}
}

/*-----------------Media Rule for phone-----------*/
@media only screen and (max-width: 450px) {
	#overlayImage {
	width: 86%;
	position: fixed;
	left: -38%;
	top: 25vw;
	}
       .navbar-container ul li{
        font-size:.9rem;
        }


	.navbar-container ul {
		width: 100%;
	}

	.navbar-container ul li.active-link .underline {
		width: 35%;
	}

	.navbar-container ul li:hover .underline {
		width: 35%;
	}

	.hamburger {
		right: 0;
		top: 1%;
	}

	.nav-link {
		position: relative;
		left: 15%;
	}
}
