.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  /* .cont .card-cont:hover .card {
    transform: rotatey(-360deg);
    box-shadow: 0 30px 30px #ccc;
  } */
  .cont .card {
    width: 205px;
    height: 300px;
    margin: 30px auto;
    transform-style: preserve-3d;
    position: relative;
    transition: all 1s, box-shadow 2.5s;
    border-radius: 20px;
    box-shadow: 0 0 60px #ccc;
    animation: fade-in-bottom 1.5s;
    animation-fill-mode: backwards;
  }
  .cont .card .front {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 15px;
    background-color: white;
    z-index: 10;
    overflow: hidden;
  }
  .cont .card .front .img-cont img{
    width:100%;
    height:300px;
  }
  
  
  .cont .card .back {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 15px;
    background-color: white;
    transform: rotatey(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: monospace;
  }
  .cont .card button {
    padding: 10px 20px;
    background-color: #14274e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
  }
  .cont .card button::after {
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    background-color: #14274e;
    z-index: -1;
    transition: 0.8s;
  }
  .cont .card button:hover {
    background-color: #0a1325;
  }
  .cont .card button:hover::after {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  /* The Overlay (background) */
  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  .alt-wrap { 
        display: block;
        position: relative;
        color: whitesmoke;
            }
  
  
  
    /* The alt text itself */
    /* Will be added with js */
      .alt-wrap p.alt {
        position: absolute;
        opacity: 0; /* hide initially */
        left: 0; right: 0; bottom: 0;
        margin: 0px;
        padding: 15px;
        font-size: 20px;
        line-height: 300px;
        color: #fff;
  
        background-color: rgba(0,0,0,1);
        transition: all 300ms ease;
        transition-delay: 300ms;
      }
  
    /* Hovering over the wrapper shows its alt p*/
      .alt-wrap:hover > p.alt { 
        opacity: 1; 
        transition-delay: 0s;
        text-align: justify;
      }
  
  
  
  @keyframes fade-in-bottom {
    0% {
      transform: translatey(50px);
    }
    100% {
      transform: translatey(0);
    }
  }
  